@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    min-height: 150vh;
}


.titre {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.04em;
    color: black;
    margin: 0;
}

#rouge {
    color: #ff5660;
}

.detailOffreEtu {
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.detailsOffre {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 1%;
}

.entreprise {
    width: 98%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.entreprise > img {
    width: 100px;
}

.offre {
    width: 98%;
    height: 64%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    overflow-y: auto;
}

.offre::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: #ffbfc2;
}

.offre::-webkit-scrollbar-thumb {
    background-color: #ff5660;
    border-radius: 10px;
}

.actionsOffre {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #ffc4c8;
    border-radius: 10px;
}

.actionsOffre > div > img {
    height: 150px;
}

.actionsOffre > .first {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.astucesDetails {
    width: 95%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 2%;
    background-color: white;
    border-radius: 10px;
}

.astucesDetails > img {
    max-height: 60%;
}

.astucesDetails > .contenuAstuce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    width: 75%;
    height: 98%;
}

.wrapActionsCandidat {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;


}

.candidature {
    height: 130px;
    width: 95%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 2%;
}

.candidature > img {
    height: 85px;
}

.boutonCandidater {
    width: 98%;
    height: 70px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.statutOffre {
    width: 95%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 1%;
    padding: 1%;
}

.statutOffre > img {
    max-height: 90%;
    padding-right: 2%;
}

.valide {
    background-color: #24942b;
    color: #0d4e00;
    border: 2px solid #0d4e00;
}


.nonValide {
    background-color: #ffb700;
    color: #814900;
    border: 2px solid #fa7506;
}

.boutonAssigner {
    width: 210px;
    height: 25px;
    border-radius: 50px;
    border: none;
    background-color: #ff5660;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: background-color 0.5s ease;
}

.boutonAssigner:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.disabled:hover {
    border: none;
    background-color: #ff5660;
    color: white;
    cursor: not-allowed;
}

.erreurCand {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.erreurCand > img {
    width: 70%;
}

.listeCandidats {
    width: 95%;
    min-height: 210px;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 1%;
    border-radius: 10px;
    background-color: #c8e7e4;
}

.rouge {
    color: #ff5660;
}

.candidatsOverflow {
    width: 98%;
    height: 90%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.candidatsOverflow::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    background-color: #ffbfc2;
}

.candidatsOverflow::-webkit-scrollbar-thumb {
    background-color: #ff5660;
    border-radius: 10px;
}

.etudiantPostulant {
    width: 250px;
    height: 90%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 2%;
    margin-right: 2%;
    transition: background-color 0.5s ease;
}

.etudiantPostulant:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}

.etudiantPostulant > div > img {
    height: 75px;
}

.nomEtuPostulant {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}


@media (max-width: 1050px) {

    body {
        height: 220vh;
    }

    .detailOffreEtu {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    .detailsOffre {
        width: 98%;
        height: 54%;
    }

    .actionsOffre {
        width: 98%;
        height: 45%;
    }

}
