@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    height: 130vh;
}

#center {
    position: absolute;
    top: 70%;
    left: 54%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 92%;
    height: 110vh;
    min-width: 300px;
    text-align: left;
    line-height: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.presentation {
    grid-column: 1/3;
    grid-row: 1/2;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    margin: 0;
    background-color: #aadcda;
}

.texteGauche {
    float: left;
    width: 60%;
    height: 100%;
}

.texteGauche > h3 {
    letter-spacing: 0.06em;
    margin-bottom: 0;
    font-family: "Oswald", sans-serif;
    color: #ff5660;
}

.texteGauche > * {
    margin-left: 4%;
}

.texteGauche > p {
    font-family: "Open Sans extra", sans-serif;
    margin-bottom: 1%;
}

.offre {
    border-radius: 50px 0 0 50px;
    background-color: #ff5660;
    color: #ffffff;
    padding: 2%;
    width: 20%;
    border: none;
    cursor: pointer;
    text-align: center;
}

.offre:hover {
    background-color: #ff9095;
}

.stage {
    border-radius: 0;
    background-color: #ff5660;
    color: #ffffff;
    padding: 2%;
    width: 20%;
    border: none;
    cursor: pointer;
    text-align: center;
}

.stage:hover {
    background-color: #ff9095;
}

.alternance {
    border-radius: 0 50px 50px 0;
    background-color: #ff5660;
    color: #ffffff;
    padding: 2%;
    width: 20%;
    border: none;
    cursor: pointer;
    text-align: center;
}

.alternance:hover {
    background-color: #ff9095;
}

#typeActuel {
    background-color: white;
    color: black;
    cursor: not-allowed;
}

.imageDroite {
    float: right;
    width: 40%;
    height: 100%;
}

.imageDroite > img {
    width: 90%;
}

.offresEntr {
    grid-column: 1/4;
    grid-row: 2/5;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    width: 93%;
    height: 90%;
    margin: 0;
    background-color: #ff9095;
    padding: 5px;
}

.contenuOffresEntr {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    overflow-y: scroll;
    justify-content: flex-start;
    width: 100%;
    height: 95%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.contenuOffresEntr::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: #ffbfc2;
}

.contenuOffresEntr::-webkit-scrollbar-thumb {
    background-color: #ff5660;
    border-radius: 10px;
}

.wrapOffres {
    width: 90%;
    height: 40%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    margin-bottom: 2%;
    text-decoration: none;
}

.wrapOffres:hover {
    background-color: #aadcda;
    cursor: pointer;
}

.wrapOffres > h3 {
    font-family: "Oswald", sans-serif;
    margin-left: 5%;
    margin-bottom: 0;
    color: #ff5660;
}