@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    height: 100vh;
}

.titre {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.04em;
    color: black;
    margin: 0;
}

p {
    color :black;
}

#rouge {
    color: #ff5660;
}

.mainRecherche {
    width: 98%;
    height: 98%;
}

