@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    height: 100vh;
}

.titre {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.04em;
    color: black;
    margin: 0;
}

p {
    color :black;
}

#rouge {
    color: #ff5660;
}

.center {
    position: absolute;
    top: 56%;
    left: 54%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

.intro {
    width: 98%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.intro > form > input {
    width: 60%;
}

.results {
    width: 95%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    text-align: left;
    overflow-y: auto;
}

.results > .titre {
    text-align: left;
}

.results::-webkit-scrollbar {
    border-radius: 10px;
    background-color: #ffd0d4;
    width: 10px;
}

.results::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ff5660;
}

.erreur {
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.erreur > img {
    height: 70%;
}

.resultat {
    width: 95%;
    height: 30%;
    border-radius: 10px;
    background-color: #aadcda;
    margin-bottom: 2%;
    text-decoration: none;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.resultat:hover {
    background-color: #d2f5f3;
    cursor: pointer;
}

.partieGauche {
    height: 99%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.partieGauche > img {
    width: 80%;
}

#petitRouge {
    background-color: #ff9095;
}

#petitRouge:hover {
    background-color: #ffbcbf;
}

.partieDroite {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
}

.partieDroite > * {
    margin: 0;
    line-height: 0.9em;
}

