@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    height: 100vh;
}

#center {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    margin: auto;
    width: 80%;
    height: 80%;
    min-width: 300px;
    border-radius: 10px;
    text-align: left;
    line-height: 2em;
    box-shadow: 0 0 10px 0 #2c3e50;
}

.wrapGauche {
    float: left;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrapGauche > img {
    width: 70%;
}

.wrapTexteGauche {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrapTexteGauche > h3 {
    font-family: "Oswald", sans-serif;
    font-size: 1.2em;
    color: #ff5660;
    margin: 0;
    letter-spacing: 0.06em;
}

.descEntr {
    margin-top: 5%;
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}


.gauche {
    float: left;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gauche > img {
    width: 70%;
    padding: 10%;
}

.droite {
    float: right;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.droite > h4 {
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-size: 1em;
    margin-bottom: 1%;
    margin-top: 0;
    letter-spacing: 0.04em;
}


#desc1 {
    background-color: #2ecc71;
}

#desc2 {
    background-color: #3498db;
}


.antiPadding {
    padding: 5px;
    background-color: #aadcda;
    float: right;
    width: 60%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.wrapDroite {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    overflow-y: scroll;
}

.wrapDroite::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: #ffbfc2;
}

.wrapDroite::-webkit-scrollbar-thumb {
    background-color: #ff5660;
    border-radius: 10px;
}


.wrapDroite > form > label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Open Sans extra", sans-serif;
    margin-left: 5%;
}


.wrapDroite > form > p {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.wrapDroite > form > select {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.wrapDroite > form > h1 {
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.04em;
    line-height: 1.5em;
    color: #ff5660;
    margin-bottom: 5%;
}

.inputCentre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
    padding-top: 1%;
    width: 100%;
    height: 8%;
}

.inputCentre > * {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    border: none;
    padding-left: 3%;
    background-color: #ff9095;
}

.grandInputCentre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
    padding-top: 1%;
    width: 100%;
    height: 20%;
}

.grandInputCentre > input {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    border: none;
    padding-left: 3%;
    background-color: #ff9095;
    line-height: 20px;
    text-align: left;
    padding-bottom: 20%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    resize: none;

}

.boutonsForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.boutonsForm > * {
    border-radius: 50px;
    background-color: #ff5660;
    color: #ffffff;
    padding: 2%;
    width: 40%;
    border: none;
    cursor: pointer;
    text-align: center;
}

.boutonsForm > *:hover {
    background-color: #ff9095;
}