@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    height: 100vh;
}

.titre {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.04em;
    color: black;
    margin: 0;
}

#rouge {
    color: #ff5660;
}

.center {
    position: absolute;
    top: 56%;
    left: 54%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

