@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    height: 100vh;
}

.boiteMain {
    position: absolute;
    top: 57%;
    left: 54%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 92%;
    height: 87%;
    min-width: 300px;
    text-align: left;
    line-height: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}


.imageEtu {
    float: right;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.imageEtu > img {
    width: 70%;
    border-radius: 10px;
    background-color: white;
}

.conteneurBienvenueDetailEntr {
    float: right;
    grid-row: 1;
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    width: 98%;
    height: 95%;
    background-color: #ff9095;
}



.texteBienvenue {
    float: left;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}

.texteBienvenue > h2 {
    font-family: "Oswald", sans-serif;
    color: black;
    margin-left: 5%;
    letter-spacing: 0.04em;
    margin-bottom: 1%;
}

.texteBienvenue > h4 {
    font-family: "Oswald", sans-serif;
    color: black;
    margin-left: 5%;
    letter-spacing: 0.04em;
    margin-bottom: 1%;
}

.texteBienvenue > p {
    font-family: "Open Sans extra", sans-serif;
    margin-left: 5%;
    line-height: 1em;
}

.imageBienvenue {
    float: right;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.imageBienvenue > img {
    width: 75%;
}

.infosOffreEntr {
    grid-column: 1/4;
    grid-row: 2/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    width: 98%;
    height: 95%;
    margin: 0;
    background-color: #aadcda;
}

.infosOffreEntr > h3 {
    font-family: "Oswald", sans-serif;
    color: black;
    letter-spacing: 0.04em;
    margin-top: 10%;
}

.overflowListe {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: white;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.overflowListe2 {
    width: 95%;
    height: 95%;
    border-radius: 10px;
    overflow-y: auto;
}

.overflowListe2 > ul > li{
    color: black;

}

.overflowListe2::-webkit-scrollbar {
    border-radius: 10px;
    background-color: #ffd0d4;
    width: 10px;
}

.overflowListe2::-webkit-scrollbar-thumb {
    background-color: #ff5660;
    border-radius: 10px;
}

#liseInfosOffreEntr > p {
    font-family: "Open Sans extra", sans-serif;
    margin-left: 5%;
    line-height: 1em;
}

#liseInfosOffreEntr > p > span {
    font-weight: bold;
}

.petitConteneurInfosOffre {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 3%;
}

.petitConteneurInfosOffre > h3 {
    margin-bottom: 0;
}

.petitConteneurInfosOffre > img {
    width: 35%;
    margin-bottom: 30%;
}


.actionsRapidesEntr {
    grid-column: 4/5;
    grid-row: 3/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 95%;
    height: 92%;
    background-color: #ff9095;
    border-radius: 10px;
}

.actionsRapidesEntr > h3 {
    font-family: "Oswald", sans-serif;
    color: black;
    letter-spacing: 0.04em;
    margin-bottom: 0;
}

.actionsRapidesEntr > a {
    margin: 5%;
    width: 90%;
}




.listeEtudiantsPostulants {
    grid-column: 4/5 ;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    border-radius: 10px;
    margin: 0;
    height: 97%;
    width: 95%;
    background-color: #ff9095;
    padding: 2px;
}



.listeEtudiantsPostulants > h3 {
    font-family: "Oswald", sans-serif;
    color: black;
    letter-spacing: 0.04em;
    margin-bottom: 0;
}

.listeEtudiantsPostulants > form {
    display: flex;
    flex-direction: column;
}


.etudiantPostulant {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: 98%;
    height: 30%;
    margin: 1%;
    padding: 0;
    border-radius: 10px;
    background-color: white;
    flex-shrink: 0;
}

.etudiantPostulant:hover {
    background-color: #aadcda;
    cursor: pointer;
}

.wrapPostulants {
    width: 95%;
    height: 70%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-shrink: 0;
}

.wrapPostulants::-webkit-scrollbar {
    border-radius: 10px;
    background-color: #ffd0d4;
    width: 10px;
}

.wrapPostulants::-webkit-scrollbar-thumb {
    background-color: #ff5660;
    border-radius: 10px;
}

.illuPostulant {
    float: left;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.illuPostulant > img {
    width: 70%;
}

.nomEtuPostulant {
    float: right;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}

.nomEtuPostulant > h4 {
    font-family: "Oswald", sans-serif;
    color: #ff5660;
    margin: 0;
    letter-spacing: 0.04em;
}

.nomEtuPostulant > a {
    height: 50%;
    width: 70%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

.boutonAssigner {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
    background-color: #ff5660;
    color: white;
    padding: 3%;
}

.boutonAssigner:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

#disabled:hover {
    cursor: not-allowed;
}

.erreur {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 95%;
    height: 80%;
}

.erreur > h4 {
    font-family: "Oswald", sans-serif;
    color: black;
    letter-spacing: 0.04em;
    margin-bottom: 0;
}

.erreur > img {
    width: 50%;
}

#disabled {
    opacity: 0.5;
}

#disabled:hover {
    cursor: not-allowed;
    background-color: #ff5660;
    border: none;
    color: white;
}

#infosEtuCandidat {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 40%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    z-index: 100;
    border: 1px solid black;
}

#infosEtuCandidat > h1 {
    font-family: "Oswald", sans-serif;
    color: #ff5660;
    letter-spacing: 0.04em;
    margin-bottom: 0;
}

#infosEtuCandidat > h4 {
    font-family: "Oswald", sans-serif;
    color: black;
    text-align: center;
    letter-spacing: 0.04em;
    margin-bottom: 0;
}

.detailsEtu {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: 95%;
    height: 40%;
    background-color: #ff9095;
    border-radius: 10px;
    margin-top: 2%;
}

.PPEtu {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.PPEtu > img {
    width: 70%;
}

.infosEtu {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}

.infosEtu > h2 {
    font-family: "Oswald", sans-serif;
    color: black;
    letter-spacing: 0.04em;
    margin : 0;
}

.infosEtu > h4 {
    font-family: "Oswald", sans-serif;
    color: black;
    letter-spacing: 0.04em;
    margin-bottom: 0;
}

.infosEtu > p {
    font-family: "Open Sans extra", sans-serif;
    line-height: 1.5em;
    margin: 0;
}

.infosEtu > p > span {
    font-weight: bold;
}

.wrapBoutonsDoc {
    width: 95%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.wrapBoutonsDoc > a {
    width: 60%;
    height: 30%;
    text-decoration: none;
}

.boutonDoc {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
    background-color: #4bc2bc;
    color: white;
    padding: 3%;
}

.boutonDoc:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

.wrapActions {
    width: 95%;
    height: 9%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.wrapActions > a {
    width: 40%;
    height: 80%;
    text-decoration: none;
}

.boutonAction {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
    background-color: #ff5660;
    color: white;
    padding: 3%;
}

.boutonAction:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}