@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    height: 100vh;
}

.boiteMain {
    position: absolute;
    top: 57%;
    left: 54%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 92%;
    height: 87%;
    min-width: 300px;
    text-align: left;
    line-height: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}


.imageEtu {
    float: right;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.imageEtu > img {
    width: 70%;
    border-radius: 10px;
    background-color: white;
}

.conteneurBienvenueDetailEntr {
    float: right;
    grid-row: 1;
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    width: 98%;
    height: 95%;
    background-color: #ff9095;
}



.texteBienvenue {
    float: left;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}

.texteBienvenue > h2 {
    font-family: "Oswald", sans-serif;
    color: black;
    margin-left: 5%;
    letter-spacing: 0.04em;
    margin-bottom: 1%;
}

.texteBienvenue > h4 {
    font-family: "Oswald", sans-serif;
    color: black;
    margin-left: 5%;
    letter-spacing: 0.04em;
    margin-bottom: 1%;
}

.texteBienvenue > p {
    font-family: "Open Sans extra", sans-serif;
    margin-left: 5%;
    line-height: 1em;
}

.imageBienvenue {
    float: right;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.imageBienvenue > img {
    width: 75%;
}

.infosOffreEntr {
    grid-column: 1/4;
    grid-row: 2/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    width: 98%;
    height: 95%;
    margin: 0;
    background-color: #aadcda;
}

.infosOffreEntr > h3 {
    font-family: "Oswald", sans-serif;
    color: black;
    letter-spacing: 0.04em;
    margin-top: 10%;
}

.overflowListe {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: white;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.overflowListe2 {
    width: 95%;
    height: 95%;
    border-radius: 10px;
    overflow-y: scroll;
}

.overflowListe2 > ul > li{
    color: black;

}

.overflowListe2::-webkit-scrollbar {
    border-radius: 10px;
    background-color: #ffd0d4;
    width: 10px;
}

.overflowListe2::-webkit-scrollbar-thumb {
    background-color: #ff5660;
    border-radius: 10px;
}

#liseInfosOffreEntr > p {
    font-family: "Open Sans extra", sans-serif;
    margin-left: 5%;
    line-height: 1em;
}

#liseInfosOffreEntr > p > span {
    font-weight: bold;
}

.petitConteneurInfosOffre {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 3%;
}

.petitConteneurInfosOffre > h3 {
    margin-bottom: 0;
}

.petitConteneurInfosOffre > img {
    width: 35%;
    margin-bottom: 30%;
}


.infosSurEntreprise {
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 98%;
    height: 40%;
}

.infosSurEntreprise > .left {
    float: left;
    width: 30%;
    height: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.infosSurEntreprise > .left > img {
    width: 70%;
    border-radius: 10px;
}

.infosSurEntreprise > .right {
    float: right;
    width: 70%;
    height: 98%;
    display: flex;
    flex-direction: column;
    /* les éléments doivent être en haut de la colonne */
    align-items: flex-start;
}

.right > h3 {
    font-family: "Oswald", sans-serif;
    color: #ff5660;
    letter-spacing: 0.04em;
    margin: 0;
    text-align: center;
}

.right > p {
    font-family: "Open Sans extra", sans-serif;
    margin-left: 5%;
    line-height: 1em;
    text-align: left;
}

.right > p > span {
    font-weight: bold;
}


.actionsRapidesEntr {
    grid-column: 4/5;
    grid-row: 3/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 95%;
    height: 92%;
    background-color: #ff9095;
    border-radius: 10px;
}

.actionsRapidesEntr > h3 {
    font-family: "Oswald", sans-serif;
    color: black;
    letter-spacing: 0.04em;
    margin-bottom: 0;
}

.actionsRapidesEntr > a {
    margin: 5%;
    width: 90%;
}




.listeEtudiantsPostulants {
    grid-column: 4/5 ;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    border-radius: 10px;
    margin: 0;
    height: 97%;
    width: 95%;
    background-color: #ff9095;
    padding: 2px;
}



.listeEtudiantsPostulants > h3 {
    font-family: "Oswald", sans-serif;
    color: black;
    letter-spacing: 0.04em;
    margin-bottom: 0;
}

.listeEtudiantsPostulants > form {
    display: flex;
    flex-direction: column;
}


.etudiantPostulant {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: 98%;
    height: 30%;
    margin: 1%;
    padding: 0;
    border-radius: 10px;
    background-color: white;
    flex-shrink: 0;
}

.wrapPostulants {
    width: 95%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-shrink: 0;
}


.illuPostulant {
    float: left;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.illuPostulant > img {
    width: 70%;
}

.nomEtuPostulant {
    float: right;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}

.nomEtuPostulant > h4 {
    font-family: "Oswald", sans-serif;
    color: #ff5660;
    margin: 0;
    letter-spacing: 0.04em;
}

.nomEtuPostulant > a {
    height: 50%;
    width: 70%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

.boutonAssigner {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
    background-color: #ff5660;
    color: white;
    padding: 3%;
}

.boutonAssigner:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

#disabled:hover {
    cursor: not-allowed;
}

.erreur {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 95%;
    height: 80%;
}

.erreur > h4 {
    font-family: "Oswald", sans-serif;
    color: black;
    letter-spacing: 0.04em;
    margin-bottom: 0;
}

.erreur > img {
    width: 50%;
}

#disabled {
    opacity: 0.5;
}

#disabled:hover {
    cursor: not-allowed;
    background-color: #ff5660;
    border: none;
    color: white;
}

.nbPostulants {
    border-radius: 10px;
    background-color: white;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.nbPostulants > h4 {
    font-family: "Oswald", sans-serif;
    color: black;
    letter-spacing: 0.04em;
    margin-bottom: 0;
}

.nbPostulants > img {
    width: 50%;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 80%;
    height: 90%;
    min-width: 300px;
    text-align: left;
    line-height: 2em;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    z-index: 100;
}

.mainPopup {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.mainPopup > h2 {
    font-family: "Oswald", sans-serif;
    color: #ff5660;
    letter-spacing: 0.04em;
    margin-bottom: 0;
    text-align: center;
}

.conteneurBoutonPopup {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.conteneurBoutonPopup > a {
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

.boutonAssignerPopup {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
    background-color: #ff5660;
    color: white;
    padding: 3%;
}

.boutonAssignerPopup:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

.descPopup {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: space-around;
}