@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans extra", sans-serif;
    background-color: #ecf0f1;
    margin: 0;
    height: 100vh;
}


/* ------------------------------------------------------------------------------------------------------------------------- */
/* HORS ANIMATIONS */


.wrapHead {
    display: flex;
    /* l'ordre des éléments doit être inversé */
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 80%;
    float: right;
    z-index: 0;
}

#search {
    margin-left: 35%;
}

.rechercheResp {
    display: none;
}

#searchField {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: absolute;
    border-radius: 50px;
    border: none;
    width: 20%;
    height: 30px;
    margin-top: 12px;
    padding-left: 1%;
    background-color: #9ec7c5;

}

#logoUm {
    height: 50px;
}

#profilBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-right: 120%;
    width: 15%;
}

#profilBox > p {
    margin-left: 2%;
    color: black;
}

#profilBox > p:hover {
    color: white;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: underline;
}

#imageProfil {
    height: 40px;
}


#corpsPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    margin: 0;
    width: 92%;
    height: 90%;
    flex-shrink: 0;
}

.main {
    width: 100%;
    height: 100%;
}


/* ------------------------------------------------------------------------------------------------------------------------- */
/* BANDEAU */

.sousMenu {
    display: none;
}

#headerContent {
    background-color: #ecf0f1;
    height: 30px;
    width: 100%;
    margin-top: 0;
    z-index: 0;
    position: relative;
}

#texteAccueil {
    *font-family: "Oswald", sans-serif;
    margin-left: 10%;
    color: #ff5660;
    width: 10%;
    text-decoration: none;
}

#texteAccueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 10%;
    height: 20px;
}

#texteAccueil > h1 {
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    letter-spacing: 0.06em;
    z-index: 1;
    font-size: 1.5em;
    margin-top: 70px;
}

#gestionRecherche {
    float: right;
    width: 60%;
    margin-top: 0;
    height: 70%;
}

form {
    width: 100%;
}

.searchField {
    width: 98%;
    height: 35px;
    border-radius: 9px;
    border: none;
    padding-left: 10px;
    background-color: #ff9095;
}

#hide {
    cursor: not-allowed;
    opacity: 0.8;
}

#profil {
    float: left;
    height: 36px;
    width: 5%;
}

#petiteIcone {
    height: 100%;
}

.menuBurger {
    display: none;
}

.contenuBurger {
    display: none;
}

.centrePage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* la hauteur est égale à la hauteur de la page - la hauteur du header - la hauteur du footer */
    height: 90%;
    margin: 0;
}


.wrapBandeau {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 70px;
    flex-shrink: 0;
    /*doit conserver cette taille même si il n'y a pas de contenu*/
    background-color: transparent;
    z-index: 900;
    position: relative;
    margin-left: 1%;


}

.bandeau {
    position: sticky;
    z-index: 90;
    width: 70px;
    height: 87vh;
    margin-left: 1%;
    background-color: #ff5660;
    top: 42px;
    bottom: -300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: width 0.3s;
    border-radius: 15px;
}


.bandeau > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 80%;
    padding: 0;
    margin-top: 6%;
    border-radius: 10px;
    text-decoration: none;
}

.bandeau > a > div > img {
    height: 30px;
}

.bandeau > a > div > p {
    display: none;
    color: black;
    font-weight: bolder;
    font-size: 0.9rem;
    text-decoration: none;
    padding-left: 5%;
}


.icone {
    width: 5%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 25%;
}

#logoUm {


}

#active {
    background-color: #ff9095;
}

.contenu {
    position: absolute;
    left: 50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: width 0.3s;
}

.contenu-item {
    display: none;
    text-align: center;
}

.bandeau:hover {
    z-index: 900;
    width: 20vw;
    position: absolute;
    top: 0;
}

.bandeau:hover > a {
    margin-left: 2%;
    width: 95%;
    margin-top: 2%;
    height: 10%;
}

.bandeau:hover > a > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin-left: 2%;
}

.bandeau:hover > a > div > * {
    margin-left: 1%;
}

.bandeau:hover > a > div > p {
    display: block;
    margin-right: 5%;
}

.bandeau:hover {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.bandeau > a:hover {
    background-color: #ff9095;
}

.icone:hover + .contenu .contenu-item, .contenu:hover .contenu-item {
    display: block;
}

.couleur {
    background-color: #ecf0f1;
    height: 100%;
}

/* ------------------------------------------------------------------------------------------------------------------------- */
/* FOOTER */
#footerContent {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: #95a5a6;
    margin-top: 1%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#footerContent > * {
    color: white;
}

#footerText {
    padding-left: 5%;
}

#footerText > h4 {
    margin-bottom: 0;
}

.UlConteneur {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    width: 100%;
    margin-left: 0;
}


#footerContent > #footerText > p {
    font-family: "Open Sans extra", sans-serif;
    margin-left: 10%;
    margin-top: 5%;
}

#footerContent > #footerText > h3 {
    margin-top: 1%
}

#footerLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding-right: 5%;
    padding-top: 1%;
}

.grandLogo {
    width: 90%;
    height: 95%;
}

#footerContent > #footerLogo > h1 {
    font-family: "Oswald", sans-serif;
    margin-left: 10%;
    margin-top: 5%;
}

/* ------------------------------------------------------------------------------------------------------------------------- */
/* MESSAGES FLASH */

.flash {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 10%;
    margin-right: 2%;
    z-index: 0;
}


.alert {
    padding: 2%;
    border: 1px solid transparent;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    z-index: 0;
}

.alert:hover {
    cursor: pointer;
}

.alert > p {
    margin-left: 5%;
    line-height: 1em;
    margin-top: 1%;
    margin-bottom: 1%;
}

.alert > img {
    width: 10%;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}


/* ------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */

@media (max-width: 1050px) {

    .bandeau {
        height: 65px;
        width: 65px;
        position: absolute;
    }

    .bandeau > a {
        display: none;
    }

    #headerContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 20%;
        height: 70px;
    }

    #texteAccueil {
        width: 70%;
        height: 90%;
        margin: 0;
    }

    #texteAccueil > h1 {
        margin: 0;
    }

    head {
        height: 30px;
        width: 100%;
    }

    .wrapHead {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .flash {
        /* une sorte de popup un peu en haut de la page, qui prend 70% de la largeur de la page */
        width: 63%;
        height: 55%;
        margin: 0;
        position: absolute;
        z-index: 200;
        top: 100%;
        left: 50%;
        opacity: 1;
        border-radius: 10px;
        /* doit rester en haut de la page, quelque soit la dimension de la page */
        transform: translate(-50%, -50%);

    }

    #gestionRecherche {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #gestionRecherche > .rechercheResp {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1%;
        border-radius: 10px;
        background-color: #ff9095;
        width: 35px;
        height: 35px;
    }

    .sousMenu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;
        position: fixed;
        z-index: 2000;
        top: 0;
        left: 0;
        border-radius: 0 0 10px 10px;
        background: linear-gradient(to bottom, #FF5660, white 200%);
        transform: translate(0%, 0%);
        flex-shrink: 0;
    }

    .sousMenu > * {
        z-index: 2001;
        flex-shrink: 0;
    }

    .sousMenu > a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 15%;
        margin-bottom: 2%;
        padding: 1%;
        text-decoration: none;
        flex-shrink: 0;
    }

    .sousMenu > a > p {
        width: 85%;
        padding-left: 5%;
        font-size: 1.3em;
        color: black;
        font-weight: bolder;
        text-decoration: none;
    }

    .sousMenu > a > img {
        height: 70%;
    }

    #active {
        background-color: #ffb2b7;
        border-radius: 10px;
    }


    .rechercheResp > img {
        width: 25px;
        padding: 2%;
    }

    #gestionRecherche > form {
        display: none;
    }

    .bandeau > .menuBurger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: 0;
        margin-left: 0;
        padding: 0;
    }

    .bandeau:hover {
        width: 70px;
        cursor: pointer;
    }

    .menuBurger > span {
        display: block;
        width: 30px;
        height: 3px;
        margin: 5px;
        background-color: #fff;
        border-radius: 10px;
        transition: 0.4s;
    }

    #footerContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #footerLogo {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        height: 20%;
    }

    #footerText {
        text-align: left;
    }

    #footerText > p {
        margin: 0;
        padding: 0;
        flex-shrink: 0;
        text-align: center;
    }
}