@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    height: 100vh;
}

.titre {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.04em;
    color: black;
    margin: 0;
}

.rouge {
    color: #ff5660;
}

#center {
    position: absolute;
    top: 56%;
    left: 54%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

.gauche {
    float: left;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
    padding: 1%;
}

.wrapEtudiants {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    overflow-y: auto;
}

.wrapEtudiants::-webkit-scrollbar {
    border-radius: 10px;
    background-color: #ffd0d4;
    width: 10px;
}

.wrapEtudiants::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ff5660;
}

.wrapBoutons > * {
    background-color: #ff5660;
    color: white;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: background-color 0.5s;
}

.wrapBoutons > *:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

.etudiant {
    width: 96%;
    height: 20%;
    border-radius: 10px;
    background-color: #ff9095;
    margin-bottom: 3%;
    text-decoration: none;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.etudiant:hover {
    background-color: #ffbcbf;
    cursor: pointer;
}

.etudiantGauche {
    height: 100%;
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.etudiantGauche > img {
    width: 80%;
}

.etudiantDroite {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
}

.etudiantDroite > p {
    color: black;
}

.statutEtu {
    width: 70%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    opacity: 0.8;
}

.statutEtu > * {
    margin: 0;
}

.valide {
    background-color: #24942b;
    color: #0d4e00;
    border: 2px solid #0d4e00;
}

.nonValide {
    background-color: #ffb700;
    color: #814900;
    border: 2px solid #fa7506;
}

.statutEtu > img {
    height: 80%;
}


.droite {
    float: right;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #aadcda;
    padding: 1%;
}

.droite > img {
    width: 80%;
}