@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    height: 100vh;
}

.titre {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.04em;
    color: black;
    margin: 0;
}

#rouge {
    color: #ff5660;
}

.centreCompte {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.menuAdmin {
    width: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding-top: 1%;
}

.sousMenuAdmin {
    width: 98%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-radius: 50px;
    padding-left: 5%;
    margin-bottom: 6%;
}

.sousMenuAdmin > img {
    width: 30px;
    max-height: 90%;
}

.sousMenuAdmin > div {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.sousMenuAdmin:hover {
    border: 2px solid #ff9095;
    cursor: pointer;
}

#selection {
    border: 2px solid #ff5660;
}

#selection > h3 {
    text-decoration: underline;
}

.sousMenu:hover {
    background-color: #31485F;

}

.mainAdmins {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    padding: 1%;
}

.mainAdmins > form {
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

#compte {
    display: none;
}

.avatar {
    width: 100%;
    height: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.avatar > img {
    width: 120px;
}

.avatar > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.avatar > div > input {
    width : 60%;
}

.avatar > div > input::-webkit-file-upload-button {
    width: 200px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: #5686ff;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.avatar > div > input::-webkit-file-upload-button:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}

.inputCentre {
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 5%;
}

.inputCentre > input[type="text"] {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: #ff9095;
    color: black;
}

.inputCentre > input[type="submit"] {
    width: 200px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: #ff5660;
    color: white;
    transition: background-color 0.5s ease;
}

.inputCentre > input[type="submit"]:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}

.wrapPerms {
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

#notifs {
    display: none;
}

#profs {
    display: none;
}

#etu {
    display: none;
}