@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    height: 100vh;
}

.titre {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.04em;
    color: black;
    margin: 0;
}

.rouge {
    color: #ff5660;
}

.centreCompte {
    width: 98%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.menuEtu {
    box-shadow: 10px 0 15px -10px rgba(0, 0, 0, 0.25);
    width: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding-top: 1%;
    padding-right: 1%;
}

.sousMenuEtu {
    width: 98%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-radius: 50px;
    padding-left: 5%;
    margin-bottom: 6%;
}

.sousMenuEtu > img {
    width: 30px;
    max-height: 90%;
}

.sousMenuEtu > div {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.sousMenuEtu:hover {
    border: 2px solid #ff9095;
    cursor: pointer;
}

#selection {
    border: 2px solid #ff5660;
}

#selection > h3 {
    text-decoration: underline;
}

.sousMenu:hover {
    background-color: #31485F;

}

.mainEtu {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    padding: 1%;
}

.mainEtu > form {
    width: 98%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    overflow-y: auto;
    padding: 1%;
}

.mainEtu > form > .inputCentre > input:disabled {
    opacity: 0.5;
    cursor: not-allowed;

}

.mainEtu > form::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: #ffbfc2;
}

.mainEtu > form::-webkit-scrollbar-thumb {
    background-color: #ff5660;
    border-radius: 10px;
}

#compte {
    display: none;
}

.avatar {
    width: 100%;
    height: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.avatar > img {
    width: 120px;
}

.avatar > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.avatar > div > input {
    width: 60%;
}

.avatar > div > input::-webkit-file-upload-button {
    width: 200px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: #5686ff;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.avatar > div > input::-webkit-file-upload-button:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}

.inputCentre {
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 5%;
}

.inputCentre > input[type="text"] {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: #ff9095;
    color: black;
    padding-left: 10px;
}

.inputCentre > input[type="submit"] {
    width: 200px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: #ff5660;
    color: white;
    transition: background-color 0.5s ease;
}

.inputCentre > input[type="submit"]:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}


.wrapPerms > div::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: #ffbfc2;
}

.wrapPerms > div::-webkit-scrollbar-thumb {
    background-color: #ff5660;
    border-radius: 10px;
}

.wrapBoutons {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.wrapBoutons > a {
    width: 200px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: #ff5660;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: background-color 0.5s ease;
}

.wrapBoutons > a:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}

.wrapErreur {
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.wrapErreur > img {
    width: 50%;
}

.ajoutEtu::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: #ffbfc2;
}

.ajoutEtu::-webkit-scrollbar-thumb {
    background-color: #ff5660;
    border-radius: 10px;
}

.ajoutEtu > form > .inputCentre {
    height: 40px;
    width: 90%;
    margin-bottom: 3%;
}

.ajoutEtu > form > .inputCentre > input {
    height: 30px;
    width: 98%;
}

.boutonsForm {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.boutonsForm > input {
    width: 200px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: #ff5660;
    color: white;
    transition: background-color 0.5s ease;
}

.boutonsForm > input:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}

#notifs {
    display: none;
}

@media (max-width: 1050px) {

    body {
        height: 165vh;
    }

    .centreCompte {
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }

    .menuEtu {
        width: 100%;
        height: 20%;
    }

    .mainEtu {
        width: 100%;
        height: 80%;
    }

    .mainEtu form {
        overflow-y: hidden;
    }

    .avatar {
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }

    .avatar div input {
        width: 100%;
    }

}