@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    height: 100vh;
}

.mainMesOffres {
    width: 98%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1%;
    grid-auto-columns: 1fr;
}

.mainMesOffres > div {
    height: 98%;
    width: 99%;
    border-radius: 10px;
}