@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    height: 100vh;
}

.mainCatalogue {
    width: 95%;
    height: 98%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}


.descCatalogue {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    background-color: #ffc4c8;
    border-radius: 10px;
    padding: 1%;
}

.descCatalogue > * {
    text-align: center;
}

.descCatalogue > img {
    height: 40%;
    max-width: 98%;
}


.wrapMosaique {
    width: 64%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 1%;
}

.mosaique {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(180px, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-gap: 1%;
    width: 98%;
    height: 90%;
    flex-shrink: 0;
    overflow: auto;
}

.mosaique::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: #ffbfc2;
}

.mosaique::-webkit-scrollbar-thumb {
    background-color: #ff5660;
    border-radius: 10px;
}

.offre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 98%;
    height: 170px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    text-decoration: none;
    background-color: #c8e7e4;
    flex-shrink: 0;
    overflow: hidden;
    padding: 1%;
}

.demi {
    background-color: #ffc4c8;
}

.offre:hover {
    background-color: white;
    cursor: pointer;
}

.offre > img {
    width: 27%;
    max-height: 90%;
}

.offre > div {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    padding: 2%;
}

.offre > div > div {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.offre > div > div > img {
    max-height: 98%;
    padding-right: 10px;
}